@mixin heading-display-01 {
  font-family: Exo, sans-serif;
  font-size: $font-size-super-large;
  font-weight: 700;
  color: $grey-dark;
  line-height: $line-height-xxl;
  @media (max-width: $breackpoint_md) {
    font-size: $font-size-xl-mb;
    line-height: $line-height-xl;
  }
}

@mixin heading-display-01-1 {
  font-family: Exo, sans-serif;
  font-size: $font-size-xxl;
  font-weight: 700;
  line-height: $line-height-xl;
}

@mixin heading-display-02 {
  font-family: Exo, sans-serif;
  font-weight: 700;
  font-size: $font-size-xl;
  line-height: $line-height-md;
  @media (max-width: $breackpoint_md) {
    font-size: $font-size-md;
    line-height: $line-height-sm;
  }
}

@mixin heading-display-03 {
  font-family: Exo, sans-serif;
  font-size: $font-size-sm;
  font-weight: 700;
  line-height: $line-height-sm;
}

@mixin heading-display-03-01 {
  font-size: $font-size-md;
  font-weight: 700;
  line-height: $line-height-sm;
  @media (max-width: $breackpoint_md) {
    font-size: $font-size-xm;
  }
}

@mixin body-regular-01 {
  font-size: $font-size-sm;
  font-weight: 400;
  line-height: $line-height-sm;
}
