//COLORS
$purple: #7f3a6a;
$pink: #f1e9ee;
$pink-light: #f9f1ee;
$white: #ffffff;
$black: #000000;
$yellow: #e9a923;
$grey-super-light: #fdfcfc;
$grey-light: #585858;
$grey-dark: #313131;

//BREAKPOINTS
$breackpoint_xxl: 1399px;
$breackpoint_xl: 1199px;
$breackpoint_md: 991px;
$breackpoint_sm: 767px;
$breackpoint_xs: 575px;
$breackpoint_xxs: 375px;

//FONT_SIZES
$font-size-xs: 12px;
$font-size-xm: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-xl: 24px;
$font-size-xl-mb: 24px;
$font-size-xxl: 32px;
$font-size-super-large: 44px;

//LINE_HEIGHTS
$line-height-sm: 24px;
$line-height-md: 34px;
$line-height-xl: 45px;
$line-height-xxl: 62px;
