.footer .navbar-nav, .services__block-item-2 ul, .services__block-item-3 ul, .services__content, .about__description, .partners__content, .banner__content, .header__desktop-menu .navbar .navbar-nav, .header__desktop-menu {
  display: flex;
  justify-content: space-between;
}

.footer__social-item, .header__logo-mobile, .header .menubox, .header .menu-btn {
  display: flex;
  align-items: center;
}

.partners__block-item, .banner .banner__image-purple,
.banner .banner__image-yellow {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  display: inline-block;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.marquee-container {
  overflow: hidden;
  max-width: 100%;
}

.marquee {
  display: flex;
  width: 200%;
  animation: marquee 20s linear infinite;
}

.marquee img {
  height: auto;
  margin-right: 40px;
}

@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.header__logo, .header__contacts {
  z-index: 2;
}
.header__logo {
  width: 50%;
}
.header__nav {
  width: 50%;
}
.header__nav {
  position: relative;
}
.header .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #585858;
}
.header .nav-list-mobile {
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 0;
}
.header .nav-list-mobile .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #585858;
  display: block;
  padding: 20px;
  text-decoration: none;
  list-style: none;
}
.header__desktop-menu {
  align-items: center;
}
.header__desktop-menu .navbar {
  position: relative;
  width: 70%;
}
.header__desktop-menu .navbar .navbar-toggler-checkbox,
.header__desktop-menu .navbar .navbar-toggler {
  display: none;
}
.header__desktop-menu .navbar #navbarNav {
  display: block;
}
.header__desktop-menu .navbar .navbar-nav {
  margin: 0;
}
.header__desktop-menu .navbar .navbar-nav .nav-item {
  list-style: none;
}
.header__desktop-menu .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #e9a923;
}
.header__desktop-menu .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #585858;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header__sign-in-button button {
  background-color: #7f3a6a;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.header__sign-in-button button:hover {
  background-color: #e9a923;
}
.header__mobile-menu {
  display: none;
}
.header .menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.header .menubox {
  background-color: #fdfcfc;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffffff;
  color: #313131;
  transition-duration: 0.25s;
  z-index: 10;
}
.header__logo-mobile {
  justify-content: space-around;
  width: 100%;
}
.header #menu-toggle {
  opacity: 0;
}
.header #menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
.header #menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header #menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header #menu-toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}

@media (max-width: 1199px) {
  .header .container {
    padding: 50px;
  }
}
@media (max-width: 991px) {
  .header {
    background-image: url("./../../../../src/images/backgrounds/bg_mob.png");
    background-size: cover;
  }
  .header .container {
    padding: 50px;
  }
  .header__desktop-menu {
    display: none;
  }
  .header__mobile-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .header .container {
    padding: 20px;
  }
}
.banner {
  background-image: url("./../../../../src/images/backgrounds/bg_desktop.png");
  background-size: cover;
}
.banner__image {
  max-width: 50%;
}
.banner__description {
  max-width: 48%;
}
.banner__title {
  font-family: Exo, sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: #313131;
  line-height: 62px;
  margin-bottom: 20px;
  position: relative;
  max-width: 500px;
}
@media (max-width: 991px) {
  .banner__title {
    font-size: 24px;
    line-height: 45px;
  }
}
.banner__title-highlighted::after {
  content: "";
  position: absolute;
  bottom: 0.2em;
  left: 0;
  width: 9em;
  height: 0.375em;
  background-color: #e9a923;
  border-radius: 3.125em;
  z-index: -1;
}
.banner__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #585858;
}
.banner__images {
  position: relative;
  height: 50px;
}
.banner__image-purple, .banner__image-yellow {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner__image-purple {
  z-index: 1;
  transform: rotate(5deg);
}
.banner__image-yellow {
  transform: rotate(-5deg);
}
.banner__image-purple {
  background-color: #7f3a6a;
}
.banner__image-yellow {
  background-color: #e9a923;
}
.banner .banner__images {
  position: relative;
  width: 100%;
  height: 50px;
}
.banner .banner__image-purple,
.banner .banner__image-yellow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
}

@media (max-width: 1199px) {
  .banner .container {
    padding: 50px;
  }
  .banner__title-highlighted::after {
    left: 0;
    width: 24.375rem;
  }
}
@media (max-width: 991px) {
  .banner {
    background-image: url("./../../../../src/images/backgrounds/bg_mob.png");
    background-size: cover;
  }
  .banner .container {
    padding: 50px;
  }
  .banner__content {
    flex-direction: column;
    align-items: center;
  }
  .banner__image, .banner__description {
    max-width: 100%;
  }
  .banner__image-purple {
    z-index: 1;
    transform: rotate(-8deg);
  }
  .banner__image-yellow {
    transform: rotate(8deg);
  }
  .banner__description {
    margin-bottom: 40px;
  }
  .banner__title-highlighted::after {
    left: -1%;
    width: 15.75rem;
  }
}
@media (max-width: 767px) {
  .banner .container {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  .banner__title {
    max-width: 350px;
  }
  .banner__title-highlighted::after {
    left: 39%;
    width: 12.75rem;
    bottom: 39%;
  }
}
@media (max-width: 375px) {
  .banner__title {
    margin-right: 30px;
  }
  .banner__title-highlighted::after {
    left: 0;
    width: 13rem;
    bottom: 6%;
  }
}
.partners {
  padding-top: 150px;
}
.partners__content {
  width: 100%;
}
.partners__title {
  font-family: Exo, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  color: #313131;
  margin-bottom: 45px;
  position: relative;
  text-align: center;
}
.partners__title::after {
  content: "";
  position: absolute;
  bottom: 0.05em;
  left: 17.5%;
  width: 11em;
  height: 0.525em;
  background-color: #e9a923;
  border-radius: 3.125em;
  z-index: -1;
}
.partners__blocks {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  padding-bottom: 50px;
}
.partners__block-item {
  background-color: #f9f1ee;
  border-radius: 10px;
  padding: 30px;
  width: 200px;
  height: 80px;
  align-items: center;
}
.partners__block-item:nth-child(1) {
  grid-row: 1/span 1;
  grid-column: 2/span 2;
}
.partners__block-item:nth-child(2) {
  grid-row: 2/span 1;
  grid-column: 1/span 2;
}
.partners__block-item:nth-child(3) {
  grid-row: 2/span 1;
  grid-column: 3/span 2;
}

@media (max-width: 1199px) {
  .partners .container {
    padding: 50px;
  }
  .partners__blocks {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .partners__title::after {
    left: -1%;
  }
}
@media (max-width: 991px) {
  .partners {
    padding-top: 50px;
  }
  .partners .container {
    padding: 50px;
  }
  .partners__title {
    max-width: 800px;
  }
  .partners__description {
    width: 100%;
  }
  .partners__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .partners__block-item {
    width: 100%;
    padding: 15px;
  }
  .partners__title::after {
    left: 29%;
  }
}
@media (max-width: 767px) {
  .partners .container {
    padding: 20px;
  }
  .partners__title::after {
    left: 26%;
  }
}
@media (max-width: 575px) {
  .partners__title::after {
    left: 1%;
  }
}
@media (max-width: 375px) {
  .partners__title::after {
    left: 29%;
    width: 8.75rem;
  }
}
.about__title {
  font-family: Exo, sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: #313131;
  line-height: 62px;
  text-align: center;
  color: #313131;
  margin-bottom: 20px;
  position: relative;
}
@media (max-width: 991px) {
  .about__title {
    font-size: 24px;
    line-height: 45px;
  }
}
.about__title::after {
  content: "";
  position: absolute;
  bottom: 0.15em;
  left: 50%;
  transform: translateX(-50%);
  width: 5em;
  height: 0.4em;
  background-color: #e9a923;
  border-radius: 3.125em;
  z-index: -1;
}
.about__text-item {
  width: 43%;
}
.about__text-item-title {
  font-family: Exo, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #313131;
}
@media (max-width: 991px) {
  .about__text-item-title {
    font-size: 18px;
    line-height: 24px;
  }
}
.about__text-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #313131;
}

@media (max-width: 1199px) {
  .about .container {
    padding: 50px;
  }
  .about__title::after {
    left: 50%;
  }
}
@media (max-width: 991px) {
  .about__title::after {
    left: 50%;
    top: 1.1em;
  }
}
@media (max-width: 767px) {
  .about .container {
    padding: 20px;
  }
  .about__description {
    flex-direction: column;
  }
  .about__text-item {
    width: 100%;
  }
  .about__title::after {
    left: 50%;
    top: 1.1em;
  }
}
@media (max-width: 375px) {
  .about__title::after {
    left: 50%;
  }
}
.services__content {
  width: 100%;
  margin-bottom: 50px;
}
.services__block-item-1 {
  background-color: #7f3a6a;
  border-radius: 10px;
  padding: 20px 20px;
}
.services__block-item-1 li {
  margin-bottom: 15px;
  margin-top: 15px;
}
.services__block-item-1 ul {
  padding: 0;
}
.services__block-item-2, .services__block-item-3 {
  background-color: #e9a923;
  border-radius: 10px;
  padding: 20px 20px;
}
.services__block-item-2 ul, .services__block-item-3 ul {
  padding: 0 30px;
}
.services__description {
  width: 50%;
}
.services__block-item-title {
  font-family: Exo, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
@media (max-width: 991px) {
  .services__block-item-title {
    font-size: 18px;
    line-height: 24px;
  }
}
.services__block-item-option {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  list-style: none;
  text-align: center;
}
@media (max-width: 991px) {
  .services__block-item-option {
    font-size: 14px;
  }
}
.services__blocks {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}
.services__block-item-1 {
  grid-row: span 2;
}
.services__block-item-2 {
  grid-column: 2;
}
.services__block-item-3 {
  grid-column: 2;
}
.services__title {
  font-family: Exo, sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: #313131;
  line-height: 62px;
  color: #313131;
  margin-bottom: 35px;
  position: relative;
}
@media (max-width: 991px) {
  .services__title {
    font-size: 24px;
    line-height: 45px;
  }
}
.services__title::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 172px;
  height: 10px;
  background-color: #e9a923;
  border-radius: 21px;
  z-index: -1;
}
.services__banner {
  width: 100%;
  text-align: center;
  background-color: #7f3a6a;
  border-radius: 15px;
  padding: 64px 0;
  z-index: 1;
  margin: 100px 50px;
}
.services__banner-title {
  font-family: Exo, sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: #313131;
  line-height: 62px;
  color: #ffffff;
  position: relative;
  margin: 0 15px 20px 15px;
}
@media (max-width: 991px) {
  .services__banner-title {
    font-size: 24px;
    line-height: 45px;
  }
}
.services__banner-title-highlighted-2::after {
  content: "";
  position: absolute;
  bottom: 0.2em;
  left: 80%;
  transform: translateX(-50%);
  width: 40%;
  max-width: 160px;
  height: 0.3em;
  background-color: #e9a923;
  border-radius: 0.5em;
  z-index: -1;
}
.services__banner-title-highlighted-1::after {
  content: "";
  position: absolute;
  bottom: 0.2em;
  left: 38%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 226px;
  height: 0.3em;
  background-color: #e9a923;
  border-radius: 0.5em;
  z-index: -1;
}
.services__banner-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin: 0 15px;
}
.services__banner-button button {
  background-color: #e9a923;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}
.services__banner-button button:hover {
  background-color: #ffffff;
  color: #7f3a6a;
}

@media (max-width: 1199px) {
  .services .container {
    padding: 50px;
  }
  .services__banner {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .services .container {
    padding: 50px;
  }
  .services__banner {
    margin: 0 auto;
  }
  .services__content {
    flex-direction: column;
    align-items: center;
  }
  .services__blocks {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .services__block-item-1 {
    grid-column: 1/span 2;
    grid-row: 1;
  }
  .services__block-item-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .services__block-item-3 {
    grid-column: 2;
    grid-row: 2;
  }
  .services__description {
    width: 100%;
  }
  .services__title::after {
    width: 4em;
  }
  .services__banner-title-highlighted-2::after {
    left: 70%;
    width: 6.25rem;
  }
  .services__banner-title-highlighted-1::after {
    left: 41%;
    width: 8.125rem;
  }
}
@media (max-width: 767px) {
  .services {
    padding-bottom: 20px;
  }
  .services__block-item-2 ul, .services__block-item-3 ul {
    padding: 0 10px;
  }
  .services .container {
    padding: 20px;
  }
  .services__banner-title-highlighted-2::after {
    left: 75%;
    width: 6.25rem;
  }
  .services__banner-title-highlighted-1::after {
    left: 40%;
    width: 8.125rem;
  }
  .services__block-item-list {
    flex-direction: column;
  }
  .services__block-item-option {
    padding: 10px 0;
  }
}
@media (max-width: 575px) {
  .services__banner-title-highlighted-2::after {
    left: 50%;
    width: 6.25rem;
    bottom: 10%;
  }
  .services__banner-title-highlighted-1::after {
    left: 44%;
    width: 8.125rem;
    bottom: 61%;
  }
}
@media (max-width: 375px) {
  .services__banner-title-highlighted-2::after {
    left: 58%;
  }
  .services__banner-title-highlighted-1::after {
    bottom: 58%;
    left: 50%;
  }
}
.footer {
  background-color: #f9f1ee;
}
.footer .row {
  justify-content: center;
  flex-direction: column;
}
.footer__nav {
  width: 50%;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer .navbar-nav {
  align-items: center;
  list-style: none;
  padding: 0;
}
.footer .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #585858;
}
.footer .nav-link:hover {
  color: #e9a923;
}
.footer__social {
  display: flex;
}
.footer__social-item {
  width: 30px;
  height: 30px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: #7f3a6a;
}
.footer__social-item:hover {
  background-color: #e9a923;
}
.footer__social-facebook, .footer__social-instagram {
  border-radius: 50%;
}
.footer__social-linkedin {
  border-radius: 10px;
}
.footer__contacts {
  text-align: center;
}
.footer__contacts-title {
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #313131;
  margin-bottom: 20px;
  position: relative;
}
.footer__contacts-email {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #585858;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .footer .navbar-nav {
    flex-direction: column;
  }
  .footer .nav-link {
    margin-bottom: 20px;
  }
  .footer .navbar-nav {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 20px;
  }
}