@include desktop {
  .partners {
    .container {
      padding: 50px;
    }
    &__blocks {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__title::after {
      left: -1%;
    }
  }
}

@include laptop {
  .partners {
    padding-top: 50px;
    .container {
      padding: 50px;
    }

    &__title {
      max-width: 800px;
    }

    &__description {
      width: 100%;
    }

    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__block-item {
      width: 100%;
      padding: 10px;
    }
    &__title::after {
      left: 29%;
    }
  }
}
@include tablet {
  .partners {
    .container {
      padding: 20px;
    }
    &__title::after {
      left: 26%;
    }
  }
}

@include phone {
  .partners {
    &__title::after {
      left: 1%;
    }
  }
}

@include phone-sm {
  .partners {
    &__title::after {
      left: 29%;
      width: 8.75rem;
    }
  }
}
