.about {
  &__title {
    @include heading-display-01;
    text-align: center;
    color: $grey-dark;
    margin-bottom: 20px;
    position: relative;
  }

  &__title::after {
    content: "";
    position: absolute;
    bottom: 0.15em;
    left: 50%;
    transform: translateX(-50%);
    width: 5em;
    height: 0.4em;
    background-color: #e9a923;
    border-radius: 3.125em;
    z-index: -1;
  }

  &__description {
    @extend %flex-space-between;
  }

  &__text-item {
    width: 43%;
  }

  &__text-item-title {
    @include heading-display-02;
    color: $grey-dark;
  }

  &__text-item-text {
    @include body-regular-01;
  }
}
